@mixin screen-align-items (
        $screen-name: '',
        $variants: map-get($align-item, variants),
        $prefix: map-get($align-item, prefix),
        $alignItems: map-get($align-item, alignItems)
    ) {
    @if $screen-name != ''{ $screen-name: $screen-name + '\\:'; }
    @each $variant in $variants {
        $variant-css: '';
        @if index($variant-list ,$variant ) != null {
            @if $variant != ''{
                @if $variant == 'last' {$variant-css: ':last-child'}             
                @else if $variant == 'first' {$variant-css: ':first-child'} 
                @else if $variant == 'odd' {$variant-css: ':nth-child(odd)'} 
                @else if $variant == 'even' {$variant-css: ':nth-child(even)'} 
                @else {$variant-css: ':' +  $variant;}            
                $variant: $variant + '\\:'; 
            }
            @each $alignItem-name, $alignItem-value in $alignItems {
                .#{$screen-name}#{$variant}#{$prefix}-#{$alignItem-name}#{$variant-css}{
                    align-items: $alignItem-value !important; 
                }
            }
        } @else if $variant == 'group-hover' {
            $variant-css: 'group\:hover';
            $variant: $variant + '\\:';
            @each $alignItem-name, $alignItem-value in $alignItems {
                .#{$screen-name}#{$variant-css} .#{$screen-name}#{$variant}#{$prefix}-#{$alignItem-name}{
                    align-items: $alignItem-value !important; 
                }
            }
        }
    }
}