@mixin screen-align-selfs (
        $screen-name: '',
        $variants: map-get($align-self, variants),
        $prefix: map-get($align-self, prefix),
        $alignSelfs: map-get($align-self, alignSelfs)
    ) {
    @if $screen-name != ''{ $screen-name: $screen-name + '\\:'; }
    @each $variant in $variants {
        $variant-css: '';
        @if index($variant-list ,$variant ) != null {
            @if $variant != ''{
                @if $variant == 'last' {$variant-css: ':last-child'}             
                @else if $variant == 'first' {$variant-css: ':first-child'} 
                @else if $variant == 'odd' {$variant-css: ':nth-child(odd)'} 
                @else if $variant == 'even' {$variant-css: ':nth-child(even)'} 
                @else {$variant-css: ':' +  $variant;}            
                $variant: $variant + '\\:'; 
            }
            @each $alignSelf-name, $alignSelf-value in $alignSelfs {
                .#{$screen-name}#{$variant}#{$prefix}-#{$alignSelf-name}#{$variant-css}{
                    align-self: $alignSelf-value !important; 
                }
            }
        } @else if $variant == 'group-hover' {
            $variant-css: 'group\:hover';
            $variant: $variant + '\\:';
            @each $alignSelf-name, $alignSelf-value in $alignSelfs {
                .#{$screen-name}#{$variant-css} .#{$screen-name}#{$variant}#{$prefix}-#{$alignSelf-name}{
                    align-self: $alignSelf-value !important; 
                }
            }
        }
    }
}