@mixin apply($classes...){
    @each $p in $classes{
        @extend .#{$p};
    }
}

@import 'variables';
@import "base/hoorabase";
// @import 'components/inputs/all';
// @import 'components/surfaces/all';
// @import 'components/navigation/all';
// @import 'components/dataDisplay/all';
// @import 'components/feedback/all';
// @import 'components/ripple';

.dialog-container.active body{
    overflow-y: hidden;
}

.dialog-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(blue, .2);
    z-index: 21;
    opacity: 0;
    overflow-y: auto;
    transition: opacity .225s;

    &.active{
        // transition: top 0s 1s;
        // top: 100px;
        opacity: 1;

    }

    &.display {
        display: none;
    }
}

.dialog{
    @include apply (shadow-2xl);
    max-width: 600px;
    background-color: white;
    opacity: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 4px;
    // transform: scale(.9);
    transition: opacity .225s;
    width: calc(100% - 96px);

    &.active{
        opacity: 1;
        // transform: scale(1);
    }

    &-header {
        flex: 0 0 auto;
        margin: 0;
        padding: 16px 24px;
        & h2{
            margin: 0 !important;
        }
    }

    &-content {
        padding: 8px 24px;
        flex: 1 1 auto;
    }

    &-action {
        padding: 8px;
        display: flex;
        justify-content: flex-end;
        button {
            margin-left: 8px;
        }
    }
    
    &.xs {
        width: calc(100% - 96px);
        max-width: 444px;
    }
    &.sm {
        width: calc(100% - 96px);
        max-width: 600px;
    }
    &.md {
        width: calc(100% - 96px);
        max-width: 960px;
    }
    &.lg {
        width: calc(100% - 96px);
        max-width: 1280px;
    }
    &.xl {
        width: calc(100% - 96px);
        max-width: 1920px;
    }

    &.responsive{
        max-width: 600px;
        width: 600px;
        @media (max-width: map-get($screens, lg )) {
        width: 100%;
        height: 100%;
        max-height: 100% !important;
        margin: 0;
        max-width: 100%;
        max-height: none;
        border-radius: 0;
        }
    }

    &.paperScroll{
        max-height: calc(100% - 96px);
        .dialog-header {
            flex: 0 0 auto;
            margin: 0;
            padding: 16px 24px;
            & h2{
                margin: 0 !important;
            }
        }
    
        .dialog-content {
            padding: 8px 24px;
            flex: 1 1 auto;
            border-top: 1px solid rgba(0, 0, 0, 0.12);
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            overflow-y: auto;
        }
    
        .dialog-action {
            padding: 8px;
            display: flex;
            justify-content: flex-end;
            button {
                margin-left: 8px;
            }
        }
    }
}


// Icon RTL
i.rtl {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

body[mode="dark"] {
    background-color:map-get($colors , gray-900) !important;
}
