@mixin screen-clearfixes (
        $screen: '',
        $variants: map-get($clearfix, variants),
        $prefix: map-get($clearfix, prefix),
    ) {
    @include screen-variant($screen, $variants, $prefix + clearfix){
        &::after {
            content: "";
            display: table;
            clear: both;
        }
    }
}