@mixin screen-displays (
        $screen-name: '',
        $variants: map-get($display, variants),
        $prefix: map-get($display, prefix),
        $displays: map-get($display, displays)
    ) {
    @if $screen-name != ''{ $screen-name: $screen-name + '\\:'; }
    @each $variant in $variants {
        $variant-css: '';
        @if index($variant-list ,$variant ) != null {
            @if $variant != ''{
                @if $variant == 'last' {$variant-css: ':last-child'}             
                @else if $variant == 'first' {$variant-css: ':first-child'} 
                @else if $variant == 'odd' {$variant-css: ':nth-child(odd)'} 
                @else if $variant == 'even' {$variant-css: ':nth-child(even)'} 
                @else {$variant-css: ':' +  $variant;}            
                $variant: $variant + '\\:'; 
            }
            @each  $display-name, $display-value in $displays {
                .#{$screen-name}#{$variant}#{$prefix}#{$display-name}#{$variant-css}{
                    display: $display-value !important; 
                }
            }
        } @else if $variant == 'group-hover' {
            $variant-css: 'group\:hover';
            $variant: $variant + '\\:';
            @each  $display-name, $display-value in $displays {
                .#{$screen-name}#{$variant-css} .#{$screen-name}#{$variant}#{$prefix}-#{$display-name}{
                    display: $display-value !important; 
                }
            }
        }
    }
}