@mixin screen-displays (
        $screen: '',
        $variants: map-get($display, variants),
        $prefix: map-get($display, prefix),
        $types: map-get($display, types)
    ) {
    @each  $display-name, $display-value in $types {
        @include screen-variant($screen, $variants, $prefix + $display-name){
            display: $display-value !important; 
        }
    }
}