@mixin screen-floats (
        $screen: '',
        $variants: map-get($float, variants),
        $prefix: map-get($float, prefix),
        $floats: map-get($float, floats)
    ) {
    @each  $float-name, $float-value in $floats {
        @include screen-variant($screen, $variants, $prefix + '-' + $float-name){
            float: $float-value !important; 
        }
    }
}