@mixin screen-object-positions (
        $screen: '',
        $variants: map-get($object-position, variants),
        $prefix: map-get($object-position, prefix),
        $objectPositions: map-get($object-position, objectPositions)
    ) {
    @each  $objectPosition-name, $objectPosition-value in $objectPositions {
        @include screen-variant($screen, $variants, $prefix + '-' + $objectPosition-name){
            object-position: $objectPosition-value !important; 
        }
    }
}