@mixin screen-object-fits (
        $screen: '',
        $variants: map-get($object-fit, variants),
        $prefix: map-get($object-fit, prefix),
        $objectFits: map-get($object-fit, objectFits)
    ) {
    @each  $objectFit-name, $objectFit-value in $objectFits {
        @include screen-variant($screen, $variants, $prefix + '-' + $objectFit-name){
            object-fit: $objectFit-value !important; 
        }
    }
}