@mixin screen-positions (
        $screen: '',
        $variants: map-get($position, variants),
        $prefix: map-get($position, prefix),
        $positions: map-get($position, positions)
    ) {
    @each  $position-name, $position-value in $positions {
        @include screen-variant($screen, $variants, $prefix + $position-name){
            position: $position-value !important; 
        }
    }
}