@mixin screen-visibilities (
        $screen: '',
        $variants: map-get($visibility, variants),
        $prefix: map-get($visibility, prefix),
        $visibilities: map-get($visibility, visibilities)
    ) {
    @each  $visibility-name, $visibility-value in $visibilities {
        @include screen-variant($screen, $variants, $prefix + '-' + $visibility-name){
            visibility: $visibility-value !important; 
        }
    }
}