@mixin screen-visibilities (
        $screen-name: '',
        $variants: map-get($visibility, variants),
        $prefix: map-get($visibility, prefix),
        $visibilities: map-get($visibility, visibilities)
    ) {
    @if $screen-name != ''{ $screen-name: $screen-name + '\\:'; }
    @each $variant in $variants {
        $variant-css: '';
        @if index($variant-list ,$variant ) != null {
            @if $variant != ''{
                @if $variant == 'last' {$variant-css: ':last-child'}             
                @else if $variant == 'first' {$variant-css: ':first-child'} 
                @else if $variant == 'odd' {$variant-css: ':nth-child(odd)'} 
                @else if $variant == 'even' {$variant-css: ':nth-child(even)'} 
                @else {$variant-css: ':' +  $variant;}            
                $variant: $variant + '\\:'; 
            }
            @each  $visibility-name, $visibility-value in $visibilities {
                .#{$screen-name}#{$variant}#{$prefix}-#{$visibility-name}#{$variant-css}{
                    visibility: $visibility-value !important; 
                }
            }
        } @else if $variant == 'group-hover' {
            $variant-css: 'group\:hover';
            $variant: $variant + '\\:';
            @each  $visibility-name, $visibility-value in $visibilities {
                .#{$screen-name}#{$variant-css} .#{$screen-name}#{$variant}#{$prefix}-#{$visibility-name}{
                    visibility: $visibility-value !important; 
                }
            }
        }
    }
}