@mixin screen-z-indexes (
        $screen-name: '',
        $variants: map-get($z-index, variants),
        $prefix: map-get($z-index, prefix),
        $z-indexes: map-get($z-index, z-indexes)
    ) {
    @if $screen-name != ''{ $screen-name: $screen-name + '\\:'; }
    @each $variant in $variants {
        $variant-css: '';
        @if index($variant-list ,$variant ) != null {
            @if $variant != ''{
                @if $variant == 'last' {$variant-css: ':last-child'}             
                @else if $variant == 'first' {$variant-css: ':first-child'} 
                @else if $variant == 'odd' {$variant-css: ':nth-child(odd)'} 
                @else if $variant == 'even' {$variant-css: ':nth-child(even)'} 
                @else {$variant-css: ':' +  $variant;}            
                $variant: $variant + '\\:'; 
            }
            @each  $z-index-name, $z-index-value in $z-indexes {
                .#{$screen-name}#{$variant}#{$prefix}-#{$z-index-name}#{$variant-css}{
                    z-index: $z-index-value !important; 
                }
            }
        } @else if $variant == 'group-hover' {
            $variant-css: 'group\:hover';
            $variant: $variant + '\\:';
            @each  $z-index-name, $z-index-value in $z-indexes {
                .#{$screen-name}#{$variant-css} .#{$screen-name}#{$variant}#{$prefix}-#{$z-index-name}{
                    z-index: $z-index-value !important; 
                }
            }
        }
    }
}