@mixin screen-z-indexes (
        $screen: '',
        $variants: map-get($z-index, variants),
        $prefix: map-get($z-index, prefix),
        $z-indexes: map-get($z-index, z-indexes)
    ) {
    @each  $z-index-name, $z-index-value in $z-indexes {
        @include screen-variant($screen, $variants, $prefix + '-' + $z-index-name){
            z-index: $z-index-value !important; 
        }
    }
}