@mixin screen-appearances (
        $screen: '',
        $variants: map-get($appearance, variants),
        $prefix: map-get($appearance, prefix),
        $appearances: map-get($appearance, appearances)
    ) {
    @each $appearance-name, $appearance-value in $appearances {
        @include screen-variant($screen, $variants, $prefix + '-' + $appearance-name){
            appearance: $appearance-value !important; 
        }
    }
}