@mixin screen-cursors (
        $screen: '',
        $variants: map-get($cursor, variants),
        $prefix: map-get($cursor, prefix),
        $cursors: map-get($cursor, cursors)
    ) {
    @each $cursor-name, $cursor-value in $cursors {
        @include screen-variant($screen, $variants, $prefix + '-' + $cursor-name){
            cursor: $cursor-value !important; 
        }
    }
}
