@mixin screen-outlines (
        $screen: '',
        $variants: map-get($outline, variants),
        $prefix: map-get($outline, prefix),
        $outlines: map-get($outline, outlines)
    ) {
    @each  $outline-name, $outline-value in $outlines {
        @include screen-variant($screen, $variants, $prefix + '-' + $outline-name){
            outline: $outline-value !important; 
        }
    }
}
