@mixin screen-pointer-events (
        $screen-name: '',
        $variants: map-get($pointer-events, variants),
        $prefix: map-get($pointer-events, prefix),
        $pointerEvents: map-get($pointer-events, pointerEvents)
    ) {
    @if $screen-name != ''{ $screen-name: $screen-name + '\\:'; }
    @each $variant in $variants {
        $variant-css: '';
        @if index($variant-list ,$variant ) != null {
            @if $variant != ''{
                @if $variant == 'last' {$variant-css: ':last-child'}             
                @else if $variant == 'first' {$variant-css: ':first-child'} 
                @else if $variant == 'odd' {$variant-css: ':nth-child(odd)'} 
                @else if $variant == 'even' {$variant-css: ':nth-child(even)'} 
                @else {$variant-css: ':' +  $variant;}            
                $variant: $variant + '\\:'; 
            }
            @each $pointerEvent-name, $pointerEvent-value in $pointerEvents {
                .#{$screen-name}#{$variant}#{$prefix}-#{$pointerEvent-name}#{$variant-css}{
                    pointer-events: $pointerEvent-value !important; 
                }
            }
        } @else if $variant == 'group-hover' {
            $variant-css: 'group\:hover';
            $variant: $variant + '\\:';
            @each $pointerEvent-name, $pointerEvent-value in $pointerEvents {
                .#{$screen-name}#{$variant-css} .#{$screen-name}#{$variant}#{$prefix}-#{$pointerEvent-name}{
                    pointer-events: $pointerEvent-value !important; 
                }
            }
        }
    }
}
