@mixin screen-pointer-events (
        $screen: '',
        $variants: map-get($pointer-events, variants),
        $prefix: map-get($pointer-events, prefix),
        $pointerEvents: map-get($pointer-events, pointerEvents)
    ) {
    @each $pointerEvent-name, $pointerEvent-value in $pointerEvents {
        @include screen-variant($screen, $variants, $prefix + '-' + $pointerEvent-name){
            pointer-events: $pointerEvent-value !important; 
        }
    }
}
