@mixin screen-resizes (
        $screen: '',
        $variants: map-get($resize, variants),
        $prefix: map-get($resize, prefix),
        $resizes: map-get($resize, resizes)
    ) {
    @each $resize-name, $resize-value in $resizes {
        @if $resize-name != ''{ $resize-name: '-' + $resize-name}
        @include screen-variant($screen, $variants, $prefix + $resize-name){
            resize: $resize-value !important; 
        }
    }
}