@mixin screen-user-selects (
        $screen: '',
        $variants: map-get($user-select, variants),
        $prefix: map-get($user-select, prefix),
        $userSelects: map-get($user-select, userSelects)
    ) {
    @each $userSelect-name, $userSelect-value in $userSelects {
        @include screen-variant($screen, $variants, $prefix + '-' + $userSelect-name){
            user-select: $userSelect-value !important; 
        }
    }
}
