@mixin screen-align-selfs (
        $screen: '',
        $variants: map-get($align-self, variants),
        $prefix: map-get($align-self, prefix),
        $alignSelfs: map-get($align-self, alignSelfs)
    ) {
    @each $alignSelf-name, $alignSelf-value in $alignSelfs {
        @include screen-variant($screen, $variants, $prefix + '-' + $alignSelf-name){
            align-self: $alignSelf-value !important; 
        }
    }
}