@mixin screen-align-items (
        $screen: '',
        $variants: map-get($align-item, variants),
        $prefix: map-get($align-item, prefix),
        $alignItems: map-get($align-item, alignItems)
    ) {
    @each $alignItem-name, $alignItem-value in $alignItems {
        @include screen-variant($screen, $variants, $prefix + '-' + $alignItem-name){
            align-items: $alignItem-value !important; 
        }
    }
}