@mixin screen-align-contents (
        $screen: '',
        $variants: map-get($align-content, variants),
        $prefix: map-get($align-content, prefix),
        $alignContents: map-get($align-content, alignContents)
    ) {
    @each $alignContent-name, $alignContent-value in $alignContents {
        @include screen-variant($screen, $variants, $prefix + '-' + $alignContent-name){
            align-content: $alignContent-value !important; 
        }
    }
}