@mixin screen-flex-shrinks (
        $screen: '',
        $variants: map-get($flex-shrink, variants),
        $prefix: map-get($flex-shrink, prefix),
        $flexShrinks: map-get($flex-shrink, flexShrinks)
    ) {
    @each $flexShrink-name, $flexShrink-value in $flexShrinks {
        @include screen-variant($screen, $variants, $prefix + '-' + $flexShrink-name){
            flex-shrink: $flexShrink-value !important; 
        }
    }
}