@mixin screen-flex-directions (
        $screen-name: '',
        $variants: map-get($flex-direction, variants),
        $prefix: map-get($flex-direction, prefix),
        $flexDirections: map-get($flex-direction, flexDirections)
    ) {
    @if $screen-name != ''{ $screen-name: $screen-name + '\\:'; }
    @each $variant in $variants {
        $variant-css: '';
        @if index($variant-list ,$variant ) != null {
            @if $variant != ''{
                @if $variant == 'last' {$variant-css: ':last-child'}             
                @else if $variant == 'first' {$variant-css: ':first-child'} 
                @else if $variant == 'odd' {$variant-css: ':nth-child(odd)'} 
                @else if $variant == 'even' {$variant-css: ':nth-child(even)'} 
                @else {$variant-css: ':' +  $variant;}            
                $variant: $variant + '\\:'; 
            }
            @each $flexDirection-name, $flexDirection-value in $flexDirections {
                .#{$screen-name}#{$variant}#{$prefix}-#{$flexDirection-name}#{$variant-css}{
                    flex-direction: $flexDirection-value !important; 
                }
            }
        } @else if $variant == 'group-hover' {
            $variant-css: 'group\:hover';
            $variant: $variant + '\\:';
            @each $flexDirection-name, $flexDirection-value in $flexDirections {
                .#{$screen-name}#{$variant-css} .#{$screen-name}#{$variant}#{$prefix}-#{$flexDirection-name}{
                    flex-direction: $flexDirection-value !important; 
                }
            }
        }
    }
}