@mixin screen-flexes (
        $screen: '',
        $variants: map-get($flex, variants),
        $prefix: map-get($flex, prefix),
        $flexes: map-get($flex, flexes)
    ) {
    @each $flex-name, $flex-value in $flexes {
        @include screen-variant($screen, $variants, $prefix + '-' + $flex-name){
            flex: $flex-value !important; 
        }
    }
}