@mixin screen-flex-directions (
        $screen: '',
        $variants: map-get($flex-direction, variants),
        $prefix: map-get($flex-direction, prefix),
        $flexDirections: map-get($flex-direction, flexDirections)
    ) {
    @each $flexDirection-name, $flexDirection-value in $flexDirections {
        @include screen-variant($screen, $variants, $prefix + '-' + $flexDirection-name){
            flex-direction: $flexDirection-value !important; 
        }
    }
}