@mixin screen-flex-wraps (
        $screen: '',
        $variants: map-get($flex-wrap, variants),
        $prefix: map-get($flex-wrap, prefix),
        $flexWraps: map-get($flex-wrap, flexWraps)
    ) {
    @each $flexWrap-name, $flexWrap-value in $flexWraps {
        @include screen-variant($screen, $variants, $prefix + '-' + $flexWrap-name){
            flex-wrap: $flexWrap-value !important; 
        }
    }
}