@mixin screen-flex-grows (
        $screen: '',
        $variants: map-get($flex-grow, variants),
        $prefix: map-get($flex-grow, prefix),
        $flexGrows: map-get($flex-grow, flexGrows)
    ) {
    @each $flexGrow-name, $flexGrow-value in $flexGrows {
        @include screen-variant($screen, $variants, $prefix + '-' + $flexGrow-name){
            flex-grow: $flexGrow-value !important; 
        }
    }
}