@mixin screen-justify-contents (
        $screen: '',
        $variants: map-get($justify-content, variants),
        $prefix: map-get($justify-content, prefix),
        $justifyContents: map-get($justify-content, justifyContents)
    ) {
    @each $justifyContent-name, $justifyContent-value in $justifyContents {
        @include screen-variant($screen, $variants, $prefix + '-' + $justifyContent-name){
            justify-content: $justifyContent-value !important; 
        }
    }
}