@mixin screen-orders (
        $screen-name: '',
        $variants: map-get($order, variants),
        $prefix: map-get($order, prefix),
        $orders: map-get($order, orders)
    ) {
    @if $screen-name != ''{ $screen-name: $screen-name + '\\:'; }
    @each $variant in $variants {
        $variant-css: '';
        @if index($variant-list ,$variant ) != null {
            @if $variant != ''{
                @if $variant == 'last' {$variant-css: ':last-child'}             
                @else if $variant == 'first' {$variant-css: ':first-child'} 
                @else if $variant == 'odd' {$variant-css: ':nth-child(odd)'} 
                @else if $variant == 'even' {$variant-css: ':nth-child(even)'} 
                @else {$variant-css: ':' +  $variant;}            
                $variant: $variant + '\\:'; 
            }
            @each $order-name, $order-value in $orders {
                .#{$screen-name}#{$variant}#{$prefix}-#{$order-name}#{$variant-css}{
                    order: $order-value !important; 
                }
            }
        } @else if $variant == 'group-hover' {
            $variant-css: 'group\:hover';
            $variant: $variant + '\\:';
            @each $order-name, $order-value in $orders {
                .#{$screen-name}#{$variant-css} .#{$screen-name}#{$variant}#{$prefix}-#{$order-name}{
                    order: $order-value !important; 
                }
            }
        }
    }
}