@mixin screen-font-weights (
        $screen: '',
        $variants: map-get($font-weight, variants),
        $prefix: map-get($font-weight, prefix),
        $fontWeights: map-get($font-weight, fontWeights)
    ) {
    @each $fontWeight-name, $fontWeight-value in $fontWeights {
        @include screen-variant($screen, $variants, $prefix + '-' + $fontWeight-name){
            font-weight: $fontWeight-value !important; 
        }
    }
}