@mixin screen-font-styles (
        $screen: '',
        $variants: map-get($font-style, variants),
        $prefix: map-get($font-style, prefix),
        $fontStyles: map-get($font-style, fontStyles)
    ) {
    @each  $fontStyle-name, $fontStyle-value in $fontStyles {
        @include screen-variant($screen, $variants, $prefix + $fontStyle-name){
            font-style: $fontStyle-value !important; 
        }
    }
}