@mixin screen-font-families (
        $screen: '',
        $variants: map-get($font-family, variants),
        $prefix: map-get($font-family, prefix),
        $fontFamilies: map-get($font-family, fontFamilies)
    ) {
    @each $fontFamily-name, $fontFamily-value in $fontFamilies {
        @include screen-variant($screen, $variants, $prefix + '-' + $fontFamily-name){
            font-family: $fontFamily-value !important; 
        }
    }
}