@mixin screen-font-sizes (
        $screen: '',
        $variants: map-get($font-size, variants),
        $prefix: map-get($font-size, prefix),
        $fontSizes: map-get($font-size, fontSizes)
    ) {
    @each $fontSize-name, $fontSize-value in $fontSizes {
        @include screen-variant($screen, $variants, $prefix + '-' + $fontSize-name){
            font-size: $fontSize-value !important; 
        }
    }
}