@mixin screen-font-smoothings (
        $screen: '',
        $variants: map-get($font-smoothing, variants),
        $prefix: map-get($font-smoothing, prefix),
    ) {
    @include screen-variant($screen, $variants, $prefix + antialiased){
        -webkit-font-smoothing: antialiased !important;
        -moz-osx-font-smoothing: grayscale !important;
    }
    @include screen-variant($screen, $variants, $prefix + subpixel-antialiased){
        -webkit-font-smoothing: auto !important;
        -moz-osx-font-smoothing: auto !important;
    }
}