/*
 * IRANSans fonts
 */
 @font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight:
	bold; src:url("assets/font/IRANSans/IRANSans_Bold.woff") format("woff");
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src:url("assets/font/IRANSans/IRANSans_Medium.woff") format("woff");
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src:url("assets/font/IRANSans/IRANSans.woff") format("woff");
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src:url("assets/font/IRANSans/IRANSans_Light.woff") format("woff");
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src:url("assets/font/IRANSans/IRANSans_UltraLight.woff") format("woff");
}
html{

    font-family: 'IRANSans';
    font-size: 14px;
    line-height: 1.5;
    // font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,0.87);
}
h1 { @include apply (font-bold, mx-0, mt-0, mb-4); font-size: 2rem; line-height: 1.8; color:#212121;}
h2 { @include apply (font-semibold, leading-loose, mx-0, mt-3, mb-5); font-size: 1.7rem; color: #48464c;}
h3 { @include apply (font-semibold, leading-loose, mx-0, mt-3, mb-4); font-size: 1.45rem; color: #48464c;}
h4 { @include apply (font-semibold, leading-loose); font-size: 1.3rem; color: #48464c; margin: .35rem 0;}
h5 { @include apply (font-semibold); font-size: 1.1rem; line-height:  2.28; color: #48464c; margin: .35rem 0;}
h6 { @include apply (font-semibold); font-size: 0.9rem; line-height:  2.65; color: #48464c; margin: .35rem 0;}
p  { @include apply (font-light); font-size: 1.09rem; line-height: 2.1; word-spacing: -0.05rem; color:#212121; margin:0 0 2rem 0;}

// .headline   { @include apply (font-bold); font-size: 2rem; line-height: 1.8; color:#212121;}
// .headline   { @include apply (font-bold); font-size: 2rem; line-height: 1.8; color:#212121;}

.subtitle1	{ @include apply (font-semibold); font-size: 1.6rem; line-height: 1.75; color: #212121;}
.subtitle2	{ @include apply (text-xl, font-medium); line-height: 1.95; color:#212121;}
.body1	{ @include apply (font-light); font-size: 1.09rem; line-height: 2.1; word-spacing: -0.05rem; color:#212121;}
.body2  { @include apply (font-light, leading-loose); font-size: .98rem; word-spacing: -.05; color: #666; }
.button-text  { @include apply (text-base, leading-loose, font-bold); color:#212121;}
.caption	{ @include apply (text-sm); line-height: 2.4; color: #999;}
.overline-text	{ @include apply (text-xs, font-normal, mb-1); line-height: 2.66; letter-spacing: 0.08333em;} 


