@mixin screen-letter-spacings (
        $screen: '',
        $variants: map-get($letter-spacing, variants),
        $prefix: map-get($letter-spacing, prefix),
        $letterSpacings: map-get($letter-spacing, letterSpacings)
    ) {
    @each $letterSpacing-name, $letterSpacing-value in $letterSpacings {
        @include screen-variant($screen, $variants, $prefix + '-' + $letterSpacing-name){
            letter-spacing: $letterSpacing-value !important; 
        }
    }
}