@mixin screen-line-heights (
        $screen: '',
        $variants: map-get($line-height, variants),
        $prefix: map-get($line-height, prefix),
        $lineHeights: map-get($line-height, lineHeights)
    ) {
    @each $lineHeight-name, $lineHeight-value in $lineHeights {
        @include screen-variant($screen, $variants, $prefix + '-' + $lineHeight-name){
            line-height: $lineHeight-value !important; 
        }
    }
}