@mixin screen-line-heights (
        $screen-name: '',
        $variants: map-get($line-height, variants),
        $prefix: map-get($line-height, prefix),
        $lineHeights: map-get($line-height, lineHeights)
    ) {
    @if $screen-name != ''{ $screen-name: $screen-name + '\\:'; }
    @each $variant in $variants {
        $variant-css: '';
        @if index($variant-list ,$variant ) != null {
            @if $variant != ''{
                @if $variant == 'last' {$variant-css: ':last-child'}             
                @else if $variant == 'first' {$variant-css: ':first-child'} 
                @else if $variant == 'odd' {$variant-css: ':nth-child(odd)'} 
                @else if $variant == 'even' {$variant-css: ':nth-child(even)'} 
                @else {$variant-css: ':' +  $variant;}            
                $variant: $variant + '\\:'; 
            }
            @each $lineHeight-name, $lineHeight-value in $lineHeights {
                .#{$screen-name}#{$variant}#{$prefix}-#{$lineHeight-name}#{$variant-css}{
                    line-height: $lineHeight-value !important; 
                }
            }
        } @else if $variant == 'group-hover' {
            $variant-css: 'group\:hover';
            $variant: $variant + '\\:';
            @each $lineHeight-name, $lineHeight-value in $lineHeights {
                .#{$screen-name}#{$variant-css} .#{$screen-name}#{$variant}#{$prefix}-#{$lineHeight-name}{
                    line-height: $lineHeight-value !important; 
                }
            }
        }
    }
}