@mixin screen-list-style-positions (
        $screen: '',
        $variants: map-get($list-style-position, variants),
        $prefix: map-get($list-style-position, prefix),
        $listStylePositions: map-get($list-style-position, listStylePositions)
    ) {
    @each  $listStylePosition-name, $listStylePosition-value in $listStylePositions {
        @include screen-variant($screen, $variants, $prefix + '-' + $listStylePosition-name){
            list-style-position: $listStylePosition-value !important; 
        }
    }
}
