@mixin screen-list-style-positions (
        $screen-name: '',
        $variants: map-get($list-style-position, variants),
        $prefix: map-get($list-style-position, prefix),
        $listStylePositions: map-get($list-style-position, listStylePositions)
    ) {
    @if $screen-name != ''{ $screen-name: $screen-name + '\\:'; }
    @each $variant in $variants {
        $variant-css: '';
        @if index($variant-list ,$variant ) != null {
            @if $variant != ''{
                @if $variant == 'last' {$variant-css: ':last-child'}             
                @else if $variant == 'first' {$variant-css: ':first-child'} 
                @else if $variant == 'odd' {$variant-css: ':nth-child(odd)'} 
                @else if $variant == 'even' {$variant-css: ':nth-child(even)'} 
                @else {$variant-css: ':' +  $variant;}            
                $variant: $variant + '\\:'; 
            }
            @each  $listStylePosition-name, $listStylePosition-value in $listStylePositions {
                .#{$screen-name}#{$variant}#{$prefix}-#{$listStylePosition-name}#{$variant-css}{
                    list-style-position: $listStylePosition-value !important; 
                }
            }
        } @else if $variant == 'group-hover' {
            $variant-css: 'group\:hover';
            $variant: $variant + '\\:';
            @each $listStylePosition-name, $listStylePosition-value in $listStylePositions {
                .#{$screen-name}#{$variant-css} .#{$screen-name}#{$variant}#{$prefix}-#{$listStylePosition-name}{
                    list-style-position: $listStylePosition-value !important; 
                }
            }
        }
    }
}
