@mixin screen-list-style-types (
        $screen: '',
        $variants: map-get($list-style-type, variants),
        $prefix: map-get($list-style-type, prefix),
        $listStyleTypes: map-get($list-style-type, listStyleTypes)
    ) {
    @each  $listStyleType-name, $listStyleType-value in $listStyleTypes {
        @include screen-variant($screen, $variants, $prefix + '-' + $listStyleType-name){
            list-style-type: $listStyleType-value !important; 
        }
    }
}
