@mixin screen-text-decorations (
        $screen: '',
        $variants: map-get($text-decoration, variants),
        $prefix: map-get($text-decoration, prefix),
        $textDecorations: map-get($text-decoration, textDecorations)
    ) {
    @each  $textDecoration-name, $textDecoration-value in $textDecorations {
        @include screen-variant($screen, $variants, $prefix + $textDecoration-name){
            text-decoration: $textDecoration-value !important; 
        }
    }
}