@mixin screen-text-colors (
        $screen: '',
        $variants: map-get($text-color, variants),
        $prefix: map-get($text-color, prefix),
        $textColors: map-get($text-color, textColors)
    ) {
    @each  $textColor-name, $textColor-value in $textColors {
        @include screen-variant($screen, $variants, $prefix + '-' + $textColor-name){
            color: $textColor-value !important; 
        }
    }
}
