@mixin screen-text-aligns (
        $screen: '',
        $variants: map-get($text-align, variants),
        $prefix: map-get($text-align, prefix),
        $textAligns: map-get($text-align, textAligns)
    ) {
    @each  $textAlign-name, $textAlign-value in $textAligns {
        @include screen-variant($screen, $variants, $prefix + '-' + $textAlign-name){
            text-align: $textAlign-value !important; 
        }
    }
}
