@mixin screen-text-transforms (
        $screen: '',
        $variants: map-get($text-transform, variants),
        $prefix: map-get($text-transform, prefix),
        $textTransforms: map-get($text-transform, textTransforms)
    ) {
    @each  $textTransform-name, $textTransform-value in $textTransforms {
        @include screen-variant($screen, $variants, $prefix + $textTransform-name){
            text-transform: $textTransform-value !important; 
        }
    }
}