@mixin screen-vertical-aligns (
        $screen: '',
        $variants: map-get($vertical-align, variants),
        $prefix: map-get($vertical-align, prefix),
        $verticalAligns: map-get($vertical-align, verticalAligns)
    ) {
    @each  $verticalAlign-name, $verticalAlign-value in $verticalAligns {
        @include screen-variant($screen, $variants, $prefix + '-' + $verticalAlign-name){
            vertical-align: $verticalAlign-value !important; 
        }
    }
}
