@mixin screen-white-spaces (
        $screen: '',
        $variants: map-get($white-space, variants),
        $prefix: map-get($white-space, prefix),
        $whiteSpaces: map-get($white-space, whiteSpaces)
    ) {
    @each $whiteSpace-name, $whiteSpace-value in $whiteSpaces {
        @include screen-variant($screen, $variants, $prefix + '-' + $whiteSpace-name){
            white-space: $whiteSpace-value !important; 
        }
    }
}