@mixin screen-word-breaks (
        $screen: '',
        $variants: map-get($word-break, variants),
        $prefix: map-get($word-break, prefix),
    ) {
        @include screen-variant($screen, $variants, $prefix + break-normal){
                word-break: normal !important;
                overflow-wrap: normal !important;
            }
            @include screen-variant($screen, $variants, $prefix + break-words){
                overflow-wrap: break-word !important;
            }
            @include screen-variant($screen, $variants, $prefix + break-all){
                word-break: break-all !important;
            }
            @include screen-variant($screen, $variants, $prefix + truncate){
                overflow: hidden !important;
                text-overflow: ellipsis !important;
                white-space: nowrap !important;
            }
        
}