@mixin screen-margins (
        $screen: '',
        $variants: map-get($margin, variants),
        $prefix: map-get($margin, prefix),
        $types: map-get($margin, types),
        $marginSizes: map-get($margin, marginSizes)
    ) {
    @each $type-key, $type in $types {
        @each $marginSize-name, $marginSize-value in $marginSizes {
            @include screen-variant($screen, $variants, $prefix + $type-key + '-' + $marginSize-name){
                @include margin-type($type, $marginSize-value);
            }
        }
    }
}

@mixin margin-type($type, $marginSize-value){
    @if ($type == 'margin-x') {
        margin-right: $marginSize-value !important;
        margin-left: $marginSize-value !important;
    } @else if ($type == 'margin-y') {
        margin-top: $marginSize-value !important;
        margin-bottom: $marginSize-value !important;
    } @else {
        #{$type}: $marginSize-value !important;
    }
}