@mixin screen-negative-margins (
        $screen: '',
        $variants: map-get($negative-margin, variants),
        $prefix: map-get($negative-margin, prefix),
        $types: map-get($negative-margin, types),
        $negative-marginSizes: map-get($negative-margin, negative-marginSizes)
    ) {
    @each $type-key, $type in $types {
        @each $negative-marginSize-name, $negative-marginSize-value in $negative-marginSizes {
            @include screen-variant($screen, $variants, ('-' + $prefix) + $type-key + '-' + $negative-marginSize-name){
                @include margin-negative-type($type, $negative-marginSize-value);
            }
        }
    }
}

@mixin margin-negative-type($type, $negative-marginSize-value){
    @if $negative-marginSize-value != 'auto' {
        @if ($type == 'margin-x') {
            margin-right: - $negative-marginSize-value !important;
            margin-left: - $negative-marginSize-value !important;
        } @else if ($type == 'margin-y') {
            margin-top: - $negative-marginSize-value !important;
            margin-bottom: - $negative-marginSize-value !important;
        } @else {
            #{$type}: - $negative-marginSize-value !important;
        }
    }
}