@mixin screen-paddings (
        $screen: '',
        $variants: map-get($padding, variants),
        $prefix: map-get($padding, prefix),
        $types: map-get($padding, types),
        $paddingSizes: map-get($padding, paddingSizes)
    ) {
    @each $type-key, $type in $types {
        @each $paddingSize-name, $paddingSize-value in $paddingSizes {
            @if $paddingSize-value != auto {
                @include screen-variant($screen, $variants, $prefix + $type-key + '-' + $paddingSize-name){
                    @include padding-type($type, $paddingSize-value);
                }
            }
        }
    }
} 
@mixin padding-type($type, $paddingSize-value){
    @if ($type == 'padding-x') {
        padding-right: $paddingSize-value !important;
        padding-left: $paddingSize-value !important;
    } @else if ($type == 'padding-y') {
        padding-top: $paddingSize-value !important;
        padding-bottom: $paddingSize-value !important;
    } @else {
        #{$type}: $paddingSize-value !important;
    }
}