@mixin screen-text-transforms (
        $screen-name: '',
        $variants: map-get($text-transform, variants),
        $prefix: map-get($text-transform, prefix),
        $textTransforms: map-get($text-transform, textTransforms)
    ) {
    @if $screen-name != ''{ $screen-name: $screen-name + '\\:'; }
    @if $prefix != ''{ $prefix: $prefix + '-'; }
    @each $variant in $variants {
        $variant-css: '';
        @if index($variant-list ,$variant ) != null {
            @if $variant != ''{
                @if $variant == 'last' {$variant-css: ':last-child'}             
                @else if $variant == 'first' {$variant-css: ':first-child'} 
                @else if $variant == 'odd' {$variant-css: ':nth-child(odd)'} 
                @else if $variant == 'even' {$variant-css: ':nth-child(even)'} 
                @else {$variant-css: ':' +  $variant;}            
                $variant: $variant + '\\:'; 
            }
            @each  $textTransform-name, $textTransform-value in $textTransforms {
                .#{$screen-name}#{$variant}#{$prefix}#{$textTransform-name}#{$variant-css}{
                    text-transform: $textTransform-value !important; 
                }
            }
        } @else if $variant == 'group-hover' {
            $variant-css: 'group\:hover';
            $variant: $variant + '\\:';
            @each $textTransform-name, $textTransform-value in $textTransforms {
                .#{$screen-name}#{$variant-css} .#{$screen-name}#{$variant}#{$prefix}-#{$textTransform-name}{
                    text-transform: $textTransform-value !important; 
                }
            }
        }
    }
}