@mixin screen-border-collapses (
        $screen: '',
        $variants: map-get($border-collapse, variants),
        $prefix: map-get($border-collapse, prefix),
        $borderCollapses: map-get($border-collapse, borderCollapses)
    ) {
    @each $borderCollapse-name, $borderCollapse-value in $borderCollapses {
        @include screen-variant($screen, $variants, $prefix + '-' + $borderCollapse-name){
            border-collapse: $borderCollapse-value !important; 
        }
    }
}