@mixin screen-table-layouts (
        $screen: '',
        $variants: map-get($table-layout, variants),
        $prefix: map-get($table-layout, prefix),
        $tableLayouts: map-get($table-layout, tableLayouts)
    ) {
    @each $tableLayout-name, $tableLayout-value in $tableLayouts {
        @include screen-variant($screen, $variants, $prefix + '-' + $tableLayout-name){
            table-layout: $tableLayout-value !important; 
        }
    }
}