@mixin screen-heights(
        $screen: '',
        $variants: map-get($height, variants),
        $prefix: map-get($height, prefix),
        $heightSizes: map-get($height, heightSizes)
    ) {
    @each $heightSize-name, $heightSize-value in $heightSizes {
        @include screen-variant($screen, $variants, $prefix + '-' + $heightSize-name){
            height: $heightSize-value !important; 
        }
    }
}