@mixin screen-widths (
        $screen: '',
        $variants: map-get($width, variants),
        $prefix: map-get($width, prefix),
        $widthSizes: map-get($width, widthSizes)
    ) {
    @each $widthSize-name, $widthSizes-value in $widthSizes {
        @include screen-variant($screen, $variants, $prefix + '-' + $widthSize-name){
            width: $widthSizes-value !important; 
        }
    }
}