@mixin screen-max-heights (
        $screen: '',
        $variants: map-get($max-height, variants),
        $prefix: map-get($max-height, prefix),
        $maxHeightSizes: map-get($max-height, maxHeightSizes)
    ) {
    @each $maxHeightSize-name, $maxHeightSize-value in $maxHeightSizes {
        @include screen-variant($screen, $variants, $prefix + '-' + $maxHeightSize-name){
            max-height: $maxHeightSize-value !important; 
        }
    }
}