@mixin screen-max-widths (
        $screen: '',
        $variants: map-get($max-width, variants),
        $prefix: map-get($max-width, prefix),
        $maxWidthSizes: map-get($max-width, maxWidthSizes)
    ) {
    @each $maxWidthSize-name, $maxWidthSize-value in $maxWidthSizes {
        @include screen-variant($screen, $variants, $prefix + '-' + $maxWidthSize-name){
            max-width: $maxWidthSize-value !important; 
        }
    }
}