@mixin screen-min-heights (
        $screen: '',
        $variants: map-get($min-height, variants),
        $prefix: map-get($min-height, prefix),
        $minHeightSizes: map-get($min-height, minHeightSizes)
    ) {
    @each $minHeightSize-name, $minHeightSize-value in $minHeightSizes {
        @include screen-variant($screen, $variants, $prefix + '-' + $minHeightSize-name){
            min-height: $minHeightSize-value !important; 
        }
    }
}