@mixin screen-min-widths (
        $screen: '',
        $variants: map-get($min-width, variants),
        $prefix: map-get($min-width, prefix),
        $minWidthSizes: map-get($min-width, minWidthSizes)
    ) {
    @each $minWidthSize-name, $minWidthSize-value in $minWidthSizes {
        @include screen-variant($screen, $variants, $prefix + '-' + $minWidthSize-name){
            min-width: $minWidthSize-value !important; 
        }
    }
}