@mixin screen-appearances (
        $screen-name: '',
        $variants: map-get($appearance, variants),
        $prefix: map-get($appearance, prefix),
        $appearances: map-get($appearance, appearances)
    ) {
    @if $screen-name != ''{ $screen-name: $screen-name + '\\:'; }
    @each $variant in $variants {
        $variant-css: '';
        @if index($variant-list ,$variant ) != null {
            @if $variant != ''{
                @if $variant == 'last' {$variant-css: ':last-child'}             
                @else if $variant == 'first' {$variant-css: ':first-child'} 
                @else if $variant == 'odd' {$variant-css: ':nth-child(odd)'} 
                @else if $variant == 'even' {$variant-css: ':nth-child(even)'} 
                @else {$variant-css: ':' +  $variant;}            
                $variant: $variant + '\\:'; 
            }
            @each $appearance-name, $appearance-value in $appearances {
                .#{$screen-name}#{$variant}#{$prefix}-#{$appearance-name}#{$variant-css}{
                    appearance: $appearance-value !important; 
                }
            }
        } @else if $variant == 'group-hover' {
            $variant-css: 'group\:hover';
            $variant: $variant + '\\:';
            @each $appearance-name, $appearance-value in $appearances {
                .#{$screen-name}#{$variant-css} .#{$screen-name}#{$variant}#{$prefix}-#{$appearance-name}{
                    appearance: $appearance-value !important; 
                }
            }
        }
    }
}