@mixin screen-outlines (
        $screen-name: '',
        $variants: map-get($outline, variants),
        $prefix: map-get($outline, prefix),
        $outlines: map-get($outline, outlines)
    ) {
    @if $screen-name != ''{ $screen-name: $screen-name + '\\:'; }
    @each $variant in $variants {
        $variant-css: '';
        @if index($variant-list ,$variant ) != null {
            @if $variant != ''{
                @if $variant == 'last' {$variant-css: ':last-child'}             
                @else if $variant == 'first' {$variant-css: ':first-child'} 
                @else if $variant == 'odd' {$variant-css: ':nth-child(odd)'} 
                @else if $variant == 'even' {$variant-css: ':nth-child(even)'} 
                @else {$variant-css: ':' +  $variant;}            
                $variant: $variant + '\\:'; 
            }
            @each  $outline-name, $outline-value in $outlines {
                .#{$screen-name}#{$variant}#{$prefix}-#{$outline-name}#{$variant-css}{
                    outline: $outline-value !important; 
                }
            }
        } @else if $variant == 'group-hover' {
            $variant-css: 'group\:hover';
            $variant: $variant + '\\:';
            @each $outline-name, $outline-value in $outlines {
                .#{$screen-name}#{$variant-css} .#{$screen-name}#{$variant}#{$prefix}-#{$outline-name}{
                    outline: $outline-value !important; 
                }
            }
        }
    }
}
