@mixin screen-user-selects (
        $screen-name: '',
        $variants: map-get($user-select, variants),
        $prefix: map-get($user-select, prefix),
        $userSelects: map-get($user-select, userSelects)
    ) {
    @if $screen-name != ''{ $screen-name: $screen-name + '\\:'; }
    @each $variant in $variants {
        $variant-css: '';
        @if index($variant-list ,$variant ) != null {
            @if $variant != ''{
                @if $variant == 'last' {$variant-css: ':last-child'}             
                @else if $variant == 'first' {$variant-css: ':first-child'} 
                @else if $variant == 'odd' {$variant-css: ':nth-child(odd)'} 
                @else if $variant == 'even' {$variant-css: ':nth-child(even)'} 
                @else {$variant-css: ':' +  $variant;}            
                $variant: $variant + '\\:'; 
            }
            @each $userSelect-name, $userSelect-value in $userSelects {
                .#{$screen-name}#{$variant}#{$prefix}-#{$userSelect-value}#{$variant-css}{
                    user-select: $userSelect-value !important; 
                }
            }
        } @else if $variant == 'group-hover' {
            $variant-css: 'group\:hover';
            $variant: $variant + '\\:';
            @each $userSelect-name, $userSelect-value in $userSelects {
                .#{$screen-name}#{$variant-css} .#{$screen-name}#{$variant}#{$prefix}-#{$userSelect-name}{
                    user-select: $userSelect-value !important; 
                }
            }
        }
    }
}
