@mixin screen-border-widths (
        $screen: '',
        $variants: map-get($border-width, variants),
        $prefix: map-get($border-width, prefix),
        $types: map-get($border-width, types),
        $sizes: map-get($border-width, sizes)
    ) {
    @each $type-key, $type in $types {
        @if $type-key != '' {$type-key:'-' + $type-key}
        @each $borderWidth-name, $borderWidth-value in $borderWidths {
            @if $borderWidth-name != '' {$borderWidth-name:'-' + $borderWidth-name}
            @include screen-variant($screen, $variants, $prefix + $type-key + $borderWidth-name){
                #{$type}: $borderWidth-value !important; 
            }
        }
    } 
}