@mixin screen-border-colors (
        $screen: '',
        $variants: map-get($border-color, variants),
        $prefix: map-get($border-color, prefix),
        $borderColors: map-get($border-color, borderColors)
    ) {
    @each $borderColor-name, $borderColor-value in $borderColors {
        @include screen-variant($screen, $variants, $prefix + '-' + $borderColor-name){
            border-color: $borderColor-value !important; 
        }
    }
}