@mixin screen-border-styles (
        $screen: '',
        $variants: map-get($border-style, variants),
        $prefix: map-get($border-style, prefix),
        $borderStyles: map-get($border-style, borderStyles)
    ) {
    @each $borderStyle-name, $borderStyle-value in $borderStyles {
        @include screen-variant($screen, $variants, $prefix + '-' + $borderStyle-name){
            border-style: $borderStyle-value !important; 
        }
    }
}