@mixin screen-border-radiuses (
        $screen: '',
        $variants: map-get($border-radius, variants),
        $prefix: map-get($border-radius, prefix),
        $types: map-get($border-radius, types),
        $borderRadiuses: map-get($border-radius, borderRadiuses)
    ) {
        
    @each $type-key, $type in $types {
        @each $borderRadius-name, $borderRadius-value in $borderRadiuses {
            @include screen-variant($screen, $variants, $prefix + $type-key + $borderRadius-name){
                @include border-radius-type($type, $borderRadius-value);
            }
        }
    }
        
}

@mixin border-radius-type($type, $borderRadius-value){
    @if ($type == 'border-top-radius') {
        border-top-left-radius: $borderRadius-value !important;
        border-top-right-radius: $borderRadius-value !important;
    } @else if ($type == 'border-bottom-radius') {
        border-bottom-left-radius: $borderRadius-value !important;
        border-bottom-right-radius: $borderRadius-value !important;
    } @else if ($type == 'border-right-radius') {
        border-top-right-radius: $borderRadius-value !important;
        border-bottom-right-radius: $borderRadius-value !important;
    } @else if ($type == 'border-left-radius') {
        border-top-left-radius: $borderRadius-value !important;
        border-bottom-left-radius: $borderRadius-value !important;
    } @else if ($type == 'border-top-left-radius') {
        border-top-left-radius: $borderRadius-value !important;
    } @else if ($type == 'border-top-right-radius') {
        border-top-right-radius: $borderRadius-value !important;
    } @else if ($type == 'border-bottom-left-radius') {
        border-bottom-left-radius: $borderRadius-value !important;
    } @else if ($type == 'border-bottom-right-radius') {
        border-bottom-right-radius: $borderRadius-value !important;
    } @else {
        border-radius: $borderRadius-value !important;
    }
}