@mixin screen-background-attachments (
        $screen: '',
        $variants: map-get($background-attachment, variants),
        $prefix: map-get($background-attachment, prefix),
        $backgroundAttachments: map-get($background-attachment, backgroundAttachments)
    ) {
    @each $backgroundAttachment-name, $backgroundAttachment-value in $backgroundAttachments {
        @include screen-variant($screen, $variants, $prefix + '-' + $backgroundAttachment-name){
            background-attachment: $backgroundAttachment-value !important; 
        }
    }
}