@mixin screen-background-sizes (
        $screen: '',
        $variants: map-get($background-size, variants),
        $prefix: map-get($background-size, prefix),
        $backgroundSizes: map-get($background-size, backgroundSizes)
    ) {
    @each $backgroundSize-name, $backgroundSize-value in $backgroundSizes {
        @include screen-variant($screen, $variants, $prefix + '-' + $backgroundSize-name){
            background-size: $backgroundSize-value !important; 
        }
    }
}