@mixin screen-background-repeats (
        $screen: '',
        $variants: map-get($background-repeat, variants),
        $prefix: map-get($background-repeat, prefix),
        $backgroundRepeats: map-get($background-repeat, backgroundRepeats)
    ) {
    @each $backgroundRepeat-name, $backgroundRepeat-value in $backgroundRepeats {
        @include screen-variant($screen, $variants, $prefix + '-' + $backgroundRepeat-name){
            background-repeat: $backgroundRepeat-value !important; 
        }
    }
}