@mixin screen-background-attachments (
        $screen-name: '',
        $variants: map-get($background-attachment, variants),
        $prefix: map-get($background-attachment, prefix),
        $backgroundAttachments: map-get($background-attachment, backgroundAttachments)
    ) {
    @if $screen-name != ''{ $screen-name: $screen-name + '\\:'; }
    @each $variant in $variants {
        $variant-css: '';
        @if index($variant-list ,$variant ) != null {
            @if $variant != ''{
                @if $variant == 'last' {$variant-css: ':last-child'}             
                @else if $variant == 'first' {$variant-css: ':first-child'} 
                @else if $variant == 'odd' {$variant-css: ':nth-child(odd)'} 
                @else if $variant == 'even' {$variant-css: ':nth-child(even)'} 
                @else {$variant-css: ':' +  $variant;}            
                $variant: $variant + '\\:'; 
            }
            @each $backgroundAttachment-value, $backgroundAttachment in $backgroundAttachments {
                .#{$screen-name}#{$variant}#{$prefix}-#{$backgroundAttachment-value}#{$variant-css}{
                    background-attachment: $backgroundAttachment !important; 
                }
            }
        } @else if $variant == 'group-hover' {
            $variant-css: 'group\:hover';
            $variant: $variant + '\\:';
            @each $backgroundAttachment-name, $backgroundAttachment-value in $backgroundAttachments {
                .#{$screen-name}#{$variant-css} .#{$screen-name}#{$variant}#{$prefix}-#{$backgroundAttachment-name}{
                    background-attachment: $backgroundAttachment-value !important; 
                }
            }
        }
    }
}