@mixin screen-background-positions (
        $screen: '',
        $variants: map-get($background-position, variants),
        $prefix: map-get($background-position, prefix),
        $backgroundPositions: map-get($background-position, backgroundPositions)
    ) {
    @each $backgroundPosition-name, $backgroundPosition-value in $backgroundPositions {
        @include screen-variant($screen, $variants, $prefix + '-' + $backgroundPosition-name){
            background-position: $backgroundPosition-value !important; 
        }
    }
} 
