@mixin screen-background-colors (
        $screen: '',
        $variants: map-get($background-color, variants),
        $prefix: map-get($background-color, prefix),
        $backgroundColors: map-get($background-color, backgroundColors)
    ) {
    @each $backgroundColor-name, $backgroundColor-value in $backgroundColors {
        @include screen-variant($screen, $variants, $prefix + '-' + $backgroundColor-name){
            background-color: $backgroundColor-value !important; 
        }
    }
}