@mixin screen-fills (
        $screen: '',
        $variants: map-get($fill, variants),
        $prefix: map-get($fill, prefix),
        $fills: map-get($fill, fills)
    ) {
    @each  $fill-name, $fill-value in $fills {
        @include screen-variant($screen, $variants, $prefix + '-' + $fill-name){
            fill: $fill-value !important; 
        }
    }
}
