@mixin screen-strokes (
        $screen: '',
        $variants: map-get($stroke, variants),
        $prefix: map-get($stroke, prefix),
        $strokes: map-get($stroke, strokes)
    ) {
    @each  $stroke-name, $stroke-value in $strokes {
        @include screen-variant($screen, $variants, $prefix + '-' + $stroke-name){
            stroke: $stroke-value !important; 
        }
    }
}
