@mixin screen-box-shadows (
        $screen: '',
        $variants: map-get($box-shadow, variants),
        $prefix: map-get($box-shadow, prefix),
        $shadowEffects: map-get($box-shadow, shadowEffects)
    ) {
    @each $shadowEffect-name, $shadowEffect-value in $shadowEffects {
        @if $shadowEffect-name != ''{ $shadowEffect-name: '-' + $shadowEffect-name}
        @include screen-variant($screen, $variants, $prefix + $shadowEffect-name){
            box-shadow: $shadowEffect-value !important; 
        }
    }
}