@mixin screen-opacities (
        $screen: '',
        $variants: map-get($opacity, variants),
        $prefix: map-get($opacity, prefix),
        $opacityEffects: map-get($opacity, opacityEffects)
    ) {
    @each $opacityEffect-name, $opacityEffect-value in $opacityEffects {
        @include screen-variant($screen, $variants, $prefix + '-' + $opacityEffect-name){
            opacity: $opacityEffect-value !important; 
        }
    }
}